<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Minar80 bot users control</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/monsteradmin/" />
    <link href="/stylesheets/style-theme.css" rel="stylesheet">
    <link href="/stylesheets/dataTables.bootstrap4.css" rel="stylesheet">

</head>

<body>

    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">

                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <a class="navbar-brand" href="index.html">
                        <b class="logo-icon">
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <img src="/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <span class="logo-text">
                            <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                            <img src="/assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>

                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>

            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->

        <%- include('left_nav.ejs') %>

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-md-5 align-self-center">
                        <h4 class="page-title">List user using Chat Bot</h4>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered no-wrap">
                                        <thead>
                                            <tr>
                                                <th>TelegramID</th>
                                                <th>Full Name</th>
                                                <th>Email</th>
                                                <th>Verify</th>
                                                <th>Total invite</th>
                                                <th>Zoom time</th>
                                                <th>30 min</th>
                                                <th>Ref TelegramID</th>
                                                <th>Wallet</th>
                                                <th>Twitter</th>
                                                <th>Join Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% users.forEach((user, index) => { %>
                                            <tr data-index="0">
                                                <td style=""><%= user.telegramID %></td>
                                                <td style=""><%= user.fullName %></td>
                                                <td style=""><%= user.mail.email %> </td>
                                                <td style=""> <%= user.mail.isVerify %> </td>
                                                <td style=""><%= user.inviteLogs.length %></td>
                                                <td style=""><%= (Math.round(user.webminarLog.totalTime / 1000) / 60).toFixed(1) %> min</td>
                                                <td style=""> <%= user.webminarLog.isEnough30min %></td>
                                                <td style=""> <%= user.refTelegramID %></td>
                                                <td style=""> <%= user.wallet.erc20 %></td>
                                                <td style=""> <%= user.social.twitter %></td>
                                                <td style=""> <%= user.joinDate %></td>
                                            </tr>
                                            <% }) %>
                                        </tbody>

                                        <!-- <tfoot>
                                            <tr>
                                                <th>TelegramID</th>
                                                <th>Full Name</th>
                                                <th>Email</th>
                                                <th>Verify</th>
                                                <th>Total invite</th>
                                                <th>Zoom time</th>
                                                <th>Enough 30min</th>
                                                <th>Ref TelegramID</th>
                                                <th>Join Date</th>
                                            </tr>
                                        </tfoot> -->
                                    </table>
                                    <ul class="pagination">
                                        <% if (page > 1) { %>
                                        <li class="page-item ">
                                            <a class="page-link" href="/users?page=<%= page - 1 %>"> Prev </a>
                                        </li>
                                        <% } %>
                                        <% range.map((i) => { %>
                                        <li class="page-item <%= page === i ? "active" : "" %>">
                                            <% if (i === "...") { %>
                                            <span> <%= i %> </span>
                                            <% } else { %>
                                            <a class="page-link" href="/users?page=<%= i %>"><%= i %></a>
                                            <% } %>
                                        </li>
                                        <% }) %>
                                        <% if (page < totalPages) { %>
                                        <li class="page-item ">
                                            <a class="page-link" href="/users?page=<%= page + 1 %>"> Next </a>
                                        </li>
                                        <% } %>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </div>

    <script src="/js/theme/jquery.min.js"></script>

    <script src="https://unpkg.com/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
    <script src="/js/theme/bootstrap.min.js"></script>

    <script src="/js/theme/app.js"></script>
    <script src="/js/theme/app.init.dark.js"></script>
    <script src="/js/theme/app-style-switcher.js"></script>

    <script src="/js/theme/perfect-scrollbar.jquery.min.js"></script>
    <script src="/js/theme/jquery.sparkline.js"></script>

    <script src="/js/theme/sidebarmenu.js"></script>



    <script src="/js/theme/feather.min.js"></script>
    <script src="/js/theme/custom.js"></script>
    <script src="/js/theme/jquery.dataTables.min.js"></script>
    <script src="/js/theme/custom-datatable.js"></script>


    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js"></script>
    <script src="/js/users.js"></script>
</body>

</html>